 
        <!-- <div class="side-nav-list">
            <a class="side-nav-link" href="{{ url_for('main.home') }}">
                <div class="row side-nav-item">                    
                    <div class="col-3"></div>
                    <div class="col-9">Dashboard</div>
                </div>
            </a>
            <a class="side-nav-link" href="{{ url_for('sales.all_sales') }}">
                <div class="row side-nav-item">
                    <div class="col-3"></div>
                    <div class="col-9">Customers</div>
                </div>
            </a>
            <a class="side-nav-link" href="#">
                <div class="row side-nav-item">
                    <div class="col-3"></div>
                    <div class="col-9">Expenses</div>
                </div>
            </a>
            <a class="side-nav-link" href="#">
                <div class="row side-nav-item">
                    <div class="col-3"></div>
                    <div class="col-9">Invoicing</div>
                </div>
            </a>
            <a class="side-nav-link" href="#">
                <div class="row side-nav-item">
                    <div class="col-3"></div>
                    <div class="col-9 ">Banking</div>
                </div>
            </a>
            <a class="side-nav-link" href="#">
                <div class="row side-nav-item">
                    <div class="col-3"></div>
                    <div class="col-9">Inventory</div>
                </div>
            </a>
            <a class="side-nav-link" href="#">
                <div class="row side-nav-item">
                    <div class="col-3"></div>
                    <div class="col-9 ">Reports</div>
                </div>
            </a>
        </div> -->
              

        <div class="sidebar-row" style="width: 200px;">
            <div class="sidebar">
                
                 
            </div>
        </div>